color: #F00808;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Register Here
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Username
color: #E31F1F;
font-size: 20px;
font-family: Inter;
font-weight: 400;
letter-spacing: 0.20px;
word-wrap: break-word
---
// Password
color: #CF1919;
font-size: 20px;
font-family: Inter;
font-weight: 400;
letter-spacing: 0.20px;
word-wrap: break-word
---
// LOGIN
color: #0F49E0;
font-size: 20px;
font-family: Inter;
font-weight: 400;
letter-spacing: 0.20px;
word-wrap: break-word