color: #E50404;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// The event is successfully submitted<br/>
color: #CC0909;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// More information about
color: black;
font-size: 18px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// @Saveetha.ai.sec.com<br/>
color: #035591;
font-size: 16px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// SUBMIT
color: #091DD3;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word