color: #E91515;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Poster presentation
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Data science Quiz
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Machine learning Quiz
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Technical writing
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Technical drawing
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Puzzles fixing
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Technical games
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Beginners for AI
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Cyber crime Quiz
color: black;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Continue
color: #391EDD;
font-size: 24px;
font-family: Inter;
font-weight: 400;
letter-spacing: 0.24px;
word-wrap: break-word