color: #EE1212;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// CSE
color: #E70505;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// AI&ML
color: #E20505;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// IT
color: #DB0606;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// AI&DS
color: #EA0404;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// IOT
color: #E50404;
font-size: 24px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
---
// Continue
color: #391EDD;
font-size: 24px;
font-family: Inter;
font-weight: 400;
letter-spacing: 0.24px;
word-wrap: break-word